body{
    font-family: Arial, Helvetica, sans-serif;
   background-color: black;
}
.loginform{
    width: 450px;
    height: 620px;
    margin-left: 542px;
    margin-top: 6%;
    background-color:white;
    overflow: hidden;
    border-radius: 5px;
    
}
.loginform:hover{
    border: solid transparent white;
    box-shadow: 10px 10px 110px whitesmoke;
    
}
h2{
    text-align: center;
    color: #0c0c0dfe;
    font-weight: 900;
     margin-top: 1px;
     
     
}
label{
    color: black;
    font-size: 17px;
    margin-left: 45px;
    font-family: "Lilita One", sans-serif;
}
#Uname{
    width: 200px;
    height: 20px;
    border: solid rgb(12, 12, 16);
    border-radius: 5px;
    padding-left: 8px;
}
#pass{
    width: 200px;
    height: 20px;
    border: solid rgb(13, 13, 19);
    border-radius: 5px;
    padding-left: 8px;
}
#log{
    width: 310px;
    height: 30px;
    border: solid rgb(238, 238, 235);
    border-radius: 17px;
    color: rgb(234, 234, 243);
    background-color: black;
    margin-left: 45px;
}
span{
    color: rgb(2, 2, 2);
    font-size: 17px;
    
}

a{
    margin-left: 300px;
    color: rgb(241, 9, 9);
    text-decoration: none;
    
}
#one{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin-left: 100px;
    

}
