body {
    padding: 0%;
    margin: 0%;
}

.navbar {
    background-color: rgb(15, 15, 15);
    color: white;
    overflow: hidden;
    height: 50px;
}


.navbar a:hover {
    background-color: white;
    border-radius: 5px;
    color: blue;

}

.navbar ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    padding-left: 52%;
    position: fixed;
    color: white;
    background-color: black;
    left: 1%;
    z-index: 5;

}

.navbar li {
    float: left;

}

.navbar a {
    display: block;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.homepage {
    padding-left: 7%;
    margin: 0%;
    padding-top: 10%;
    font-size: 120px;
    color: rgb(11, 11, 11);
    font-family: "Protest Guerrilla", sans-serif;
    background-image: url(pic/MAIN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}


.two {
    padding-left: 2%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}

.three {
    color: rgb(51, 47, 47);
    font-size: 25px;
    font-family: "Permanent Marker", cursive;
    padding-top: 10%;
    font-weight: 700;
}

.marq {

    color: rgb(12, 11, 11);
    font-weight: bolder;
}

.marq1 {
    color: navy;
    font-weight: bolder;
}

.four {
    background-image: url(pic/pexels-photo);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 25%;
    padding-left: 10%;
    color: rgb(15, 17, 14);
    font-size: 65px;

}

.contact {
    background-color: black;
    color: white;
    padding-left: 30%;
}

.five {
    background-image: url(pic/world);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    font-size: 50px;
    padding-top: 8%;
    padding-left: 20%;
    font-weight: bolder;
}

.six {
    background-image: url(pic/Kinetic-Labs-access.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    font-size: 80px;
    color: rgb(21, 21, 23);
    padding-top: 8%;
    padding-left: 15%;
}

.sevan {
    background-image: url(pic/testing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    font-size: 70px;
    color: black;
    padding-top: 8%;
    padding-left: 13%;
}
